.ep_rocketchat_container{
    z-index: 999;
    width: 83%;
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: auto;
    height: 242px;
    padding-top: 1px;
    background-color: #FFFFFF;
    border-top:1px solid #A8ABAE;
}
.ep_rocketchat_container_hidden{
  display: none;
  z-index: 999;
  width: 83%;
  position: absolute;
  bottom: 0px;
  right: 0;
  margin: auto;
  height: 242px;
  padding-top: 1px;
  background-color: #FFFFFF;
  border-top:1px solid #A8ABAE;
}

.ep_rocketchat_iframe {
  
  width:100%;
  height:206px;
  border: 0;
}
.ep_rocketchat_header{
  border-top:1px solid #A8ABAE;
  height: 42px;
  width: 100%;
  padding: 0 6px;
  display: flex;
  align-items: center;
  flex-wrap:nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.header_chat_room{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  float: left;
}
.parent_header_chat_room {
  color: #c4c4c4;
  cursor: pointer;
}

.parent_header_chat_room_backslash{
  color: #c4c4c4;
}
.parent_header_chat_room:hover{
  color : black
}
.master_header_chat_room{
  color: #5f6368;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bubble_mention {
    position: relative;
    width: 17px;
    height: 14px;
    background: #2678FF;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    display: flex;
  }
  .bubble_mention_number{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* line-height: 24px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    /* margin-top: 4.1%; */
    margin-top: -2px;
    /* height: auto; */
    /* width: 50%; */
    /* padding: 5px; */
    overflow: hidden;


  }
  .bubble_mention_tail {
    background-image: url(../image/tail.svg);
    position: absolute;
    left: 3px;
    width: 8px;
    height: 5.5px;
    right: 12px;
    top: calc(50% - 5.5px/2 + 9.75px);
  }
  .bubble_notify_number{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* line-height: 24px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    /* margin-top: 4.1%; */
    margin-top: -2px;
    /* height: auto; */
    /* width: 50%; */
    /* padding: 5px; */
    overflow: hidden;


  }
  .bubble_notify {
    position: relative;
    width: 17px;
    height: 14px;
    background: #A8ABAE  ;
    border-radius: 5px;
    display: flex;

  }
  .bubble_notify_tail {
    background-image: url(../image/tail_notify.svg);
    position: absolute;
    left: 3px;
    width: 8px;
    height: 5.5px;
    right: 12px;
    top: calc(50% - 5.5px/2 + 9.75px);
  }
.header_chat_room_close{
  background-image: url(../image/close.png);
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 6px 6px ;
}
.header_chat_room_close:hover{
  background-color: #eee;
}

.header_videochat_icon{
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.header_videochat_icon .icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 0 0 6px 6px;
}
.header_videochat_icon .icon.active svg{
  fill: #2678FF;
}
.header_videochat_icon .icon.active {
  color: #fff;
}

.header_videochat_icon .icon:hover {
  color: #fff;
  background-color: #eee;
  
}
.header_videochat_icon .icon:hover svg{
  fill: #2678FF;

}
.header_videochat_icon .icon svg{
  width: 42px;
  height: 43px;
}
.header_videochat_icon .icon .userCount{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Quicksand, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  padding-right: 8px;
}
.header_chat_room_close_rec1{
  position: absolute;
  width: 15px;
  height: 2px;
  left: 16.41px;
  top: 12.41px;
  
  /* grey med */
  
  background: #5F6368;
  transform: rotate(45deg);
}
.header_chat_room_close_rec2{
  position: absolute;
  width: 15px;
  height: 2px;
  left: 27.41px;
  top: 13.41px;
  
  /* grey med */
  
  background: #5F6368;
  transform: rotate(135deg);
}

.header_chat_room_container{
  display: flex;
  align-items: center;
  max-width: 50%;
  float: left;
  height: 100%;
  margin-right: 5px;
}
.ep_rocketchat_onlineUsersList{
  display: flex;
  align-items: center;
  width: 20%;
  float: left;
  height: 100%; 
  flex-direction: row;
  cursor: pointer;
  margin-right: auto;
  margin-left: 20px;
}
.ep_rocketchat_onlineUsersList:first-child {
  margin: 0;
}

.ep_rocketchat_onlineUsersList_avatarImg{
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border-radius: 145.833px;
  border: 1px solid #fff;
}
.avatar{
  margin: 0 -14px 0 0;
  position: relative;
  transition: all .2s cubic-bezier(0,.71,.47,1.1);
  display: flex;
  flex-direction: row;
  float: left;
  overflow: hidden;
}
.avatar:hover,
 .avatar:hover{
	border-color: #2678ff;
	z-index: 1;
	transform: scale(1.2);
}

.avatar:active {
	transform: scale(0.9);
}



.header_chat_room_close_container{
  display: flex;
  align-items: center;
  float: right;
  justify-content: center;
}

.fullHeightEditor {
  height: 100% !important;
}


.resizer { width: 100%; height: 4px; position:absolute; top: 0; cursor: s-resize;
  border: 0px solid rgb(204, 204, 204) !important;
  z-index: 2000;
}
#ghost_chat_resizer{
  width: 83%; height: 3px; position:absolute;  cursor: s-resize;
  /* border-top: 1px solid rgb(204, 204, 204) !important;
  border-bottom: 1px solid rgb(204, 204, 204) !important; */
  border-top: 1px solid #A8ABAE!important;
  border-bottom: 1px solid #A8ABAE !important;
  /* background-color: rgb(204, 204, 204) ; */
  z-index: 2000;right: 0;
}


.ep_rocketchat_slide-up
{
    bottom: 0px !important;
}

.ep_rocketchat_slide-down
{
    bottom: -475px !important;
}
